<nav class="site-nav">
    <ul class="nav-items">
        <li class="nav-item">
            <a href="/">Hai</a>
        </li>
        <li class="nav-item">
            <a href="/about.hbs">About</a>
        </li>
        <li class="nav-item">
            <a href="/contact.hbs">Contact</a>
        </li>
    </ul>
</nav>
