---
meta:
  author: Author Name
  description: Some meta description
  keywords: Some, Meta, Keywords
  robots: index, follow
title: Contact | Static Parcel
pagetitle: Contact
uri: /about
---

{{#> layout namespace="about"}}
	{{#*inline "body"}}
		<h1>{{pagetitle}}</h1>
    <p>Contact</p>
	{{/inline}}
{{/layout}}
