---
meta:
  author: Author Name
  description: Some meta description
  keywords: Some, Meta, Keywords
  robots: index, follow
title: Home | Static Parcel
pagetitle: Home
uri: /
---

{{#> layout namespace="home"}}
	{{#*inline "body"}}
		<h1>{{pagetitle}}</h1>
		<p>Hola</p>
	{{/inline}}
{{/layout}}
